<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Tasks</title>
</head>
<body>
<h1>Tasks</h1>
<ul>
    <li th:each="task : ${tasks}">
        <span th:text="${task.name}"></span> - <span th:text="${task.description}"></span>
        <form sec:authorize="hasRole('ADMIN')" th:action="@{/tasks/delete/{id}(id=${task.id})}" method="post">
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
<a sec:authorize="hasRole('USER') or hasRole('ADMIN')" href="/tasks/add">Add Task</a>
</body>
</html>